# Github LaTeX default
*.acn
*.acr
*.alg
*.aux
#*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
# Temporary file
*~
*.sw*
*.bak
# Original files from kdiff3
*.orig
